[package]
authors     = ["Xavier Lau <xavier@inv.cafe>"]
build       = "build.rs"
description = "Your Substrate Alfred"
edition     = "2021"
homepage    = "https://subalfred.hack.ink"
license     = "GPL-3.0"
name        = "subalfred"
readme      = "README.md"
repository  = "https://github.com/hack-ink/subalfred"
version     = "0.9.0"


[lib]
name = "subalfred"
path = "src/subalfred/lib.rs"

[badges]
maintenance = { status = "actively-developed" }

[build-dependencies]
# crates.io
vergen = { version = "7.2" }

[dependencies]
# crates.io
anyhow             = { version = "1.0" }
array-bytes        = { version = "2.0" }
camino             = { version = "1.0" }
cargo_metadata     = { version = "0.14" }
cargo_toml         = { version = "0.11" }
clap               = { version = "3.2", features = ["cargo", "derive"] }
console            = { version = "0.15" }
futures            = { version = "0.3" }
indicatif          = { version = "0.17.0-rc.11" }
once_cell          = { version = "1.12" }
parity-scale-codec = { version = "2.3" }
regex              = { version = "1.5" }
reqwest            = { version = "0.11", features = ["json"] }
serde              = { version = "1.0" }
serde_json         = { version = "1.0" }
thiserror          = { version = "1.0" }
tokio              = { version = "1.19", features = ["macros", "rt-multi-thread", "sync", "time"] }
tokio-stream       = { version = "0.1" }
tokio-tungstenite  = { version = "0.17", features = ["rustls-tls-native-roots"] }
tracing            = { version = "0.1" }
tracing-subscriber = { version = "0.3" }
# hack-ink
subcryptor   = { version = "0.9", path = "substrate-minimum/subcryptor" }
subhasher    = { version = "0.9", path = "substrate-minimum/subhasher" }
submetadatan = { version = "0.9", path = "substrate-minimum/submetadatan" }
subrpcer     = { version = "0.9", path = "substrate-minimum/subrpcer" }
substorager  = { version = "0.9", path = "substrate-minimum/substorager" }
subversion   = { version = "0.9", path = "substrate-minimum/subversion", features = ["serde"] }

[features]
default = [
	"tokio-selector",
]

# At least one selected feature must be enabled.
futures-selector = []
tokio-selector   = []

# [profile.release]
# lto = true

[workspace]
members = [
	"substrate-minimum/*",
	"substrate-minimum/*/impl",
]

[[bin]]
name = "subalfred"
